<script type="text/template" id="mc_template">
	<p><strong> MCID : </strong><input type="text" id="mcid" size="25"/></p>
	<p><strong> NAME : </strong><input type="text" id="mcna" size="25"/></p>
	<p><strong> ADDRESS : </strong><input type="text" id="addr" size="25"/></p>
	<p><strong> TEL : </strong><input type="text" id="tel" size="25"/></p>
	<p><strong> EMAIL : </strong><input type="text" id="email" size="25"/></p>
	<p><strong> FAX : </strong><input type="text" id="fax" size="25"/></p>
	<p><strong> MCC : </strong><input type="text" id="mcc" size="25"/></p>
	<button id="saveMc">save</button>
</script>