<div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-lg-3">
			<a href="#Product/{{merchant.merchantCode.mcc}}/{{merchant.mcId}}/{{id}}">
				<img src="/EmarketWeb/content/{{merchant.merchantCode.mcc}}/{{merchant.mcId}}/{{id}}/{{img}}" 
				alt="product {{name}}" width="160" height="200"/>
			</a>
		</div>
		<div class="col-xs-9 col-sm-9 col-lg-9">
			<h3>Product : {{name}}</h3>
			<h4>Seller : {{merchant.name}}</h4>
			<h4>ID : {{id}} </h4>
			<h3>Price :${{price}}</h3>
			<p>{{shDes}}</p>
		</div>
	</div>
</div>