<div>
	<div id="subnavigation">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		  	 <div class="navbar-header">
		      <p class="navbar-btn navbar-right">
		      	<strong> View : </strong>
		      	<button type="button" class="btn btn-default navbar-btn active" id="dashItems">
		      		<span class="glyphicon glyphicon-th"></span>
		      	</button>
		      	<button type="button" class="btn btn-default navbar-btn" id="listItems">
		      		<span class="glyphicon glyphicon-th-list"></span>
		      	</button>
		      </p>
		  	 </div>
		  </div>
		</nav>
		<div id="searchContent"></div>
	</div>
</div>